# Terraform
*.tfstate
*.tfstate.*
.terraform/

# SSH & AWS keys
*.pem
*.key
*.crt

# Node.js
node_modules/
docker/backend/node_modules/
npm-debug.log

# Ansible
secrets.yml
*.vault

# Python (if used)
__pycache__/
*.pyc
.env

# Ignore system files
.DS_Store

